*.obj
*.log
*.pdb
*.tlog
*.log
*.idb
*.user
*.db
*.opendb
*.suo
*.ipch
*.res
*.sdf
*.db-shm
*.db-wal
source/lib/win64/*.lib
source/lib/win64/*.exp
bin/win64/*
source/angelscript/projects/msvc10/x64/
source/as_addons/as_addons/x64/
source/glfw/x64/
source/libircclient/x64/
source/msvc/Star Ruler 2/x64/
source/network/network/x64/
source/os/os/x64/
source/sound/sound/x64/
source/util/util/x64/
